/* Custom Property */

:root {

  --white-color: #fff;
  --red-footer-color: #d7040d;
  --orange-footer-color: #F17205;

  --background-differentials-color: #FFFAE7;

  --subtitle-color: #fd9824;
  --paragraph-color: #828282;

  --blue-text-color: #197cbd;

  --menu-icon-color: #333;

  --blue-banner-color: #007387dd;
  --green-banner-color: #00b57fdd;
  --eco-banner-color: #cffa38;

  --black-with-opacity-90: #00000090;
  --black-with-opacity-20: #00000020;

  --banner-background: url("../img/banner1.jpg")
  --differentials-background: url("../img/fundo-diferencias.jpg");

}


/* Reset */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

li {
  list-style: none;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.6;
}

body {
  overflow-x: hidden;
}

h2, h3 {
  color: var(--subtitle-color);
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  color: var(--paragraph-color);
}

address {
  font-style: normal;
}



@media (min-width: 425px) {

  body {
    font-size: 1.6rem;
  }

}