.differentials {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--background-differentials-color);

  background-image: url(../img/fundo-diferencias.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.differentials-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.differentials-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.differentials-list li img {
  width: 100px;
}

.differentials-list h3 {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--blue-text-color);
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .differentials-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 200px;
  }

  .differentials-list li img {
    width: auto;
  }
}
