footer p, footer a{
  color: var(--white-color);
}

/* Footer */

footer .container {
  width: 100vw;
  padding: 10px;
  background-color: var(--red-footer-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

footer .navbar-list {
  flex-direction: column;
  gap: 8px;
  color: var(--white-color);
}

footer address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer address .contact-list {
  display: flex;
  flex-direction: column;
}

.local {
  display: flex;
  align-items: baseline;
}

footer .social-media p{
  margin-bottom: 20px;
}

/* Info */

footer .info {
  background-color: var(--orange-footer-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.copyright {
  color: var(--white-color);
  font-size: 1rem;
}


@media screen and (min-width: 768px) {
  footer .container {
    width: 100vw;
    padding: 50px 10% 50px 30%;
    flex-direction: row;
  }
}
